main {
  padding: 1rem 10rem 1rem 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  text-align: center;
  font-size: 2.2rem;
  font-weight: bold;
  padding: 15px;
}
.banner {
  width: 100%;
  max-width: 50rem;
  aspect-ratio: 3 / 2;
  object-fit: contain;
  display: block;
}

.containerPages {
  width: 100%;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.cards {
  display: flex;
  flex-direction: column;
  border: solid 1px var(--color-texto);
  border-radius: 20px;
  height: 200px;

  p {
    height: 40%;
  }
}

.cards:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
  transition: all 0.3s ease;
  background-color: var(--color-hover-bg);
  color: var(--color-hover-text);
}

.imgPages {
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

/* --- MEDIA QUERIES --- */

/* Tablets (entre 768px y 1023px) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  main {
    padding: 1rem 5rem; /* Menos padding lateral */
  }

  .title {
    font-size: 1.8rem;
  }

  .banner {
    max-width: 40rem;
  }
}

/* Móviles (menos de 768px) */
@media screen and (max-width: 767px) {
  main {
    padding: 1rem 1rem; /* Padding muy pequeño lateral */
  }

  .card-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }

  .title {
    font-size: 1.5rem;
  }

  .banner {
    max-width: 100%;
    aspect-ratio: 16 / 9;
  }
}
